<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>牧江科技</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <!-- Toastr css -->
        <link href="<%$smarty.const.PUBLIC_ROOT_URL%>plugins/jquery-toastr/jquery.toast.min.css" rel="stylesheet" />
        
        <!-- App css -->
        <link href="<%$smarty.const.PUBLIC_ROOT_URL%>assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="<%$smarty.const.PUBLIC_ROOT_URL%>assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="<%$smarty.const.PUBLIC_ROOT_URL%>assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
        <link href="<%$smarty.const.PUBLIC_ROOT_URL%>assets/css/style.css" rel="stylesheet" type="text/css" />

        <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/modernizr.min.js"></script>

    </head>


    <body class="bg-accpunt-pages">

        <!-- HOME -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="wrapper-page">

                            <div class="account-pages">
                                <div class="account-box">
                                    <div class="account-logo-box">
                                        <h2 class="text-uppercase text-center">
                                            <a class="text-success">
                                                <span>牧江科技</span>
                                            </a>
                                        </h2>
                                    </div>

                                    <div class="account-content">
                                    <div id="p1" style="display:none">
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                                用户名或密码错误.
                                            </div>
                                    </div>
                                        <form class="form-horizontal" onSubmit="return chkinput(this)" action="" method="post">
                                            <div class="form-group m-b-20 row">
                                                <div class="col-12">
                                                    <label for="emailaddress">用户名</label>
                                                    <input class="form-control" type="" name="name"  id="admin_user" required="" placeholder="输入用户名">
                                                </div>
                                            </div>

                                            <div class="form-group row m-b-20">
                                                <div class="col-12">
                                                    <!--a href="" class="text-muted pull-right"><small>忘记密码?</small></a-->
                                                    <label for="password">密码</label>
                                                    <input class="form-control" type="password" required="" name="pwd"  id="admin_psd" placeholder="输入密码">
                                                    <input type='hidden' name='aip' value="pc">
                                                </div>
                                            </div>

                                            <div class="form-group row m-b-20">
                                                <div class="col-12">

                                                    <div class="checkbox checkbox-success">
                                                        <input id="remember" type="checkbox" checked="checked" name="remember" >
                                                        <label for="remember">
                                                            记住密码
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group row text-center m-t-10">
                                                <div class="col-12">
                                                    <button class="btn btn-block btn-gradient waves-effect waves-light" type="submit">登陆</button>
                                                </div>
                                            </div>

                                        </form>

			                                   <div id="p1" style="display:">
			                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
			                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			                                                <span aria-hidden="true">&times;</span>
			                                                </button>
			                                                警告:正式服务器已迁移.
			                                            </div>
			                                    </div>

			                                  <div class="row m-t-50">
			                                      <div class="col-sm-12 text-center">
			                                          <p class="text-muted">登陆查看历史数据,或点击跳转新地址? <a href="http://admin.mjiangtech.cn" class="text-dark m-l-5"><b>跳转</b></a></p>
			                                      </div>
			                                  </div>

                                    </div>
                                </div>
                            </div>
                            <!-- end card-box-->


                        </div>
                        <!-- end wrapper -->

                    </div>
                </div>
            </div>
        </section>
        <!-- END HOME -->


        <!-- jQuery  -->
        <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/jquery.min.js"></script>
        <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/popper.min.js"></script>
        <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/bootstrap.min.js"></script>
        <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/metisMenu.min.js"></script>
        <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/waves.js"></script>
        <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/jquery.slimscroll.js"></script>

        <!-- App js -->
        <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/jquery.core.js"></script>
        <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/jquery.app.js"></script>
        
<script>
    $(document).ready(function(){
        var strName = localStorage.getItem('mjkeyName');
        var strPass = localStorage.getItem('mjkeyPass');
        //alert(strName);
        if(strName){
            $('#name').val(strName);
        }
        //alert(strPass);
        if(strPass){
            $('#password').val(strPass);
        }
            var ret="<%$ret%>";
            if(ret=="10000101"){
                //alert(ret);
                document.getElementById("p1").style.display="";
            }else if(ret=="10000102"){
                //alert(ret);
                document.getElementById("p1").style.display="";
            }
    });
    
    function chkinput(form){
        var strName = $('#name').val();
        var strPass =  $('#password').val();
                //alert(strName);
        if(typeof(Storage)!=="undefined") {

        }else{
            alert("浏览器不支持记住密码.");
            return false;
            //主逻辑业务
        }
        if(strName==""){
            alert('请输入用户名.');
            form.name.select();
            return(false);
        }

        if(strPass==""){
            alert('请输入密码.');
            form.password.select();
            return(false);
        }

        localStorage.setItem('mjkeyName',strName);
        
        if($('#remember').is(':checked')){
            localStorage.setItem('mjkeyPass',strPass);
        }else{
            localStorage.removeItem('mjkeyPass');
        }
        return(true);
    }
</script>
    </body>
</html>