<!DOCTYPE html>
<html lang="en" xmlns:img="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title><%$name%></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="<%$smarty.const.WEUI_URL%>/weui.min.css">
    <link rel="stylesheet" href="<%$smarty.const.WEUI_URL%>/jquery-weui.css">
    <link rel="stylesheet" href="<%$smarty.const.WEUI_URL%>/demos.css?v=01.01.04">

    <!-- battery -->
    <link rel="stylesheet" href="<%$smarty.const.ABOOT_URL%>css/battery.css">
</head>
<style>
    b {color: #23527C;}
</style>

<body>
	
<h2 style="text-align:center;font-size:25px" >温度异常处理</h2>
<form class="form-horizontal"  method="post">
<div class="weui-cells">
    <div class="weui-cell weui-cell_select weui-cell_select-before">
        <div class="weui-cell__hd">
            <select class="weui-select" name="select2">
            	<%foreach $psnSelect as value%>
                <option value=<%$value['info']%>><%$value['info']%></option>
              <%/foreach%>
            </select>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" pattern="[0-9]*" placeholder="请输入号码" type="number">
        </div>
    </div>
</div>
</form>

<script src="<%$smarty.const.AJS_URL%>jquery-2.1.4.js"></script>
<script src="<%$smarty.const.AJS_URL%>fastclick.js"></script>
<script src="<%$smarty.const.AJS_URL%>jquery-weui.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });

    $("#msg").on("input propertychange", function () {
        var $this = $(this),
                _val = $this.val(),
                count = "";
        if (_val.length > 80) {
            $this.val(_val.substring(0, 80));
        }
        count = 80 - $this.val().length;
        $("#text-count").text(count);

});
</script>
</body>
</html>
